@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body>
<table>
    <thead>Products that we currently offer</thead>
    <td>Name</td>
    <td>Price</td>
    <td>Year</td>
    <td>Description</td>
    <td>Category</td>
    <td>Edit</td>
    <td>Delete</td>
</table>

<table>
    <tr>product.Name</tr>
    <tr>product.Price</tr>
    <tr>product.Year</tr>
    <tr>product.Descriptionr</tr>
    <tr>product.Category</tr>
    <tr>Edit</tr>  //Button that will link to the edit product page.  
    <tr>Delete</tr> //Button that will link to the delete confirmation page where if the user selects yes the product will delete.  
    
    
    
</table>

</body>
