@{
    ViewData["Title"] = "Add Product";
}
@model BrickVault.Models.Product

<h2>Add Product</h2>
<br/>

<div class="col-12">
    <form asp-action="AdminAddProduct" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-4">
                <label asp-for="Name">Name</label>
                <br/>
                <input asp-for="Name" class="input-group form-control"/>
            </div>
            <div class="col-4">
                <label asp-for="Year">Year</label>
                <br/>
                <input asp-for="Year" class="form-control"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-4">
                <label asp-for="ImgLink">Image Link</label>
                <br/>
                <input asp-for="ImgLink" class="input-group form-control"/>
            </div>
            <div class="col-4">
                <label asp-for="Price">Price</label>
                <br/>
                <input asp-for="Price" class="form-control"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-2">
                <label asp-for="NumParts">Number of Parts</label>
                <br/>
                <input asp-for="NumParts" class="form-control"/>
            </div>
            <div class="col-2">
                <label asp-for="AvgRating">Average Rating</label>
                <br/>
                <input asp-for="AvgRating" class="form-control"/>
            </div>
            <div class="col-2">
                <label asp-for="PrimaryColor">Primary Color</label>
                <br/>
                <input asp-for="PrimaryColor" class="form-control"/>
            </div>
            <div class="col-2">
                <label asp-for="SecondaryColor">Secondary Color</label>
                <br/>
                <input asp-for="SecondaryColor" class="form-control"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-8">
                <label asp-for="Description">Description</label>
                <br/>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">Add Product</button>
    </form>
</div>