@{
    ViewData["Title"] = "About Us";
}

<header>
    <h2 class="text-center h2">Creating a Unique User Experience</h2>
    <br/>
    <h1 class="text-bg-primary text-center h1"><b>Brick By Brick</b></h1>
    <br/>
</header>

<div class="row">
    <div class="col-8">
        <p>
            Aurora Brickwell is not your ordinary adventurer; she's a fusion of intellect, creativity, and insatiable curiosity.
            With her eyes shielded behind round, stylish glasses and her hair a cascade of cosmic colors that mimic the aurora borealis,
            she stands out in any crowd. Aurora embodies the spirit of a modern-day explorer, seamlessly blending her love for science, history,
            and the great unknown with a childlike wonder for creation, particularly manifested in her passion for Legos. These tiny blocks are not
            just toys to her; they are the building blocks of imagination, allowing her to construct worlds as vast and intricate as the mysteries she
            unravels in her adventures. Aurora's story is one of bravery, brilliance, and boundless enthusiasm, making her an unforgettable character in
            a world that awaits her unique touch.
        </p>
        <br/>
        <p>
            From a young age, Aurora Brickwell found solace and excitement in the vibrant, interlocking universe of Legos. Her childhood was 
            framed by endless hours of snapping pieces together, creating everything from fantastical castles to intricate galaxies sprawling across
            her bedroom floor. It was this early passion that sculpted her future, guiding her towards the hallowed halls of Lego My Eggo University,
            an esteemed institution known for nurturing the brightest minds in master building. There, Aurora not only honed her skills but also 
            pushed the boundaries of what could be achieved with these colorful bricks, blending engineering, art, and storytelling into her 
            creations.
                        
            Aurora's pursuit of excellence didn't stop at her Master's degree. Her ambition and visionary approach to Legos led her to launch a 
            website, Bricks of Aurora, a platform that transcends the traditional boundaries of Lego sets. 
                       
            This website became a canvas for her wildest imaginations, where she shares designs that are at once whimsical and complex,
            educational and entertaining. Each set, inspired by her adventures and the endless quest for knowledge, comes with stories that 
            breathe life into the bricks, inviting builders of all ages to not just create but to dream.
                       
            Bricks of Aurora quickly garnered attention from the global Lego community, celebrated for its unique fusion of play and learning. 
            Here, Aurora shares everything from replicas of ancient wonders to models of futuristic space colonies, each accompanied by rich 
            narratives that spark curiosity and the desire to explore. Through her website, Aurora Brickwell has not only established herself as 
            a master builder but also as a pioneer, encouraging a new generation to imagine, build, and discover the endless possibilities that 
            lie within a simple Lego brick.
        </p>
    </div>
    <div class="col-4">
        <img class="w-100" src="~/lib/Aurora_BrickWell.jpg" alt="Aurora Pic"/>
        <br/><br/>
        <img class="w-100" src="~/lib/Graduation.png" alt="Graduation"/>
    </div>
    
</div>
