@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Experiencing Issues With Account or Other Problems with the service?  Contact us we would love to help!</h2>
<br/>

<h4>Email:  Group2fifteen@gmail.com</h4>
<h4>Phone:  (801) 422-4285</h4>
<h4>Hours of Operation:  8am - 5pm.  Mondays - Fridays</h4>
