@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/lib/Logo.png" style="height: 200px"></img>
    <br/> <br/>
    <form class="form-inline" asp-controller="Home" asp-action="Products">
        <button type="submit" class="btn text-white" style="background: deepskyblue">Browse Products</button>
    </form>
    <br/><br/><br/>
    <a asp-controller="Home" asp-action="ReviewOrders">Review Orders</a>
</div>
