@{
    ViewData["Title"] = "Home Page";
    List<Product> products = ViewBag.Products;
}

<div class="text-center">
    <img src="~/lib/Logo.png" style="height: 200px"></img>
    <br/> <br/>
    <a href="@Url.Action("Products", "Home")" class="btn btn-secondary">Browse Products</a>
</div>
<br/><br/>
<div class="container">
  <h2>Recommended Products</h2>
  <br/>
  @foreach (Product p in ViewBag.Products)
  {
    <p>@p.Name</p>
  }
  <div class="row">
    <div class="col-1"></div>
    @for (var i = 0; i < 5; i++)
    {
      <div class="col-2 mb-4">
        <div class="card">
          <div class="card-body">
            <!-- Placeholder for card content -->
            <p class="fw-light">card content here</p>
            <br/>
            @* <p class="fw-bold">@products[i].Name</p> *@
          </div>
        </div>
      </div>
    }
    <div class="col-1"></div>
  </div>
</div>
    <br/><br/><br/>
    <a asp-controller="Home" asp-action="ReviewOrders">Review Orders</a>
