@{
    ViewData["Title"] = "Order Submitted";
}
<br/>
<br/>
<h1 class="fw-bold text-success">Your order is being processed!</h1>
<br/>
<br/>
<div class="text-center">
    <h3>Check your email for your receipt and shipping updates.</h3>
</div>
