@{
    ViewData["Title"] = "Products";
}

@model ProductListViewModel

<h1>Products</h1>
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- Filter Column -->
      <div class="card">
        <div class="card-header">
          Filters
        </div>
        <div class="card-body">
          <!-- Placeholder for filtering -->
          Filtering here
        </div>
      </div>
    </div>
    
    <div class="col-md-9">
      <!-- Cards Column -->
      <div class="row">
        @foreach (Product p in Model.Products)
        {        
          <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <!-- Placeholder for card content -->
                <p class="fw-light">card content here</p>
                <br/>
                <p class="fw-bold">@p.Name</p>
              </div>
            </div>
          </div>
        }
      </div>
      <div page-model="@Model.PaginationInfo" page-action="Products" page-class-enabled="true" page-class="btn"
           page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
    </div>
  </div>
</div>